@model Online_Law_Services_Management_System.Models.Expertise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expertise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Expertise1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expertise1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpertiseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
